FRONTEND_CORS_HOSTS=http://localhost:5173
DATABASE_URL=jdbc:postgresql://localhost:5432/marketplace_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
INTERNAL_API_KEY=internal-api-key
API_BACKEND_BASE_URL=http://localhost:9999
BIGQUERY_PROJECT_ID=bigquery-project-id
BIGQUERY_CREDENTIALS=bigquery-credentials