name: Backend CI

on:
  pull_request: ~

  push:
    branches:
      - main
      - staging
      - production
      - perf

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Java setup
        uses: ./.github/actions/java-setup
        with:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Maven build
        run: ./mvnw clean install -T 4 -DskipTests -DskipITs

      - name: Upload jar file as artifact
        uses: actions/upload-artifact@v4
        with:
          name: marketplace-indexer.jar
          path: bootstrap/target/marketplace-indexer.jar
          if-no-files-found: error

  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Java setup
        uses: ./.github/actions/java-setup
        with:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Maven test
        run: ./mvnw test -T 6

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/target/site/jacoco-aggregate/jacoco.xml
          flags: unit_tests

  integration_tests:
    name: Integration tests
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Java setup
        uses: ./.github/actions/java-setup
        with:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Maven test
        run: ./mvnw verify -T 6

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/target/site/jacoco-aggregate/jacoco.xml
          flags: integration_tests
